.css-bdhsul-MuiTypography-root-MuiDialogTitle-root{
    color: #F2F3F5 !important;
}


.MuiDialogContentText-root{
    font-family: Quicksand;
    font-weight: 600;
    color: #F2F3F5 !important;
}
.popup{
    background-color: rgba(32, 28, 36, 0.65);
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
    background-color: #201C24 !important;
}

.MuiButtonBase-root{
    background-color: #201C24 !important;
    box-shadow: #00000080 0px 0px 5px 3px !important;
}
.MuiButton-root{
    font-family: Quicksand !important;
    color: #F2F3F5 !important;
}